[Unit]
Description=Seanonymous Backend Service
After=network.target

[Service]
User=seanonymous
Group=seanonymous
WorkingDirectory=/home/seanonymous/seanonymous
Environment="PATH=/home/seanonymous/seanonymous/.env/bin"
ExecStart=/home/seanonymous/seanonymous/runserver.sh

[Install]
WantedBy=multi-user.target
